<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Dicty Express</title>
		<link rel="stylesheet" type="text/css" href="style/indexStyle.css" />
	</head>
	<body>
		<div>
			<h2>Dicty express graphs in Html5</h2>
			<br>
			Keeping files seperated for now (easier development)
			<br>
			<br>
		</div>
		<br><br>
		<div>
			<br>
			<iframe src="geneSelection.html">
			</iframe>
			<br>
			<br>
		</div>
		<br>
		<div>
			<br>
			<iframe src="expressionProfileGraph.html">
			</iframe>
			<br>
			<br>
		</div>
		<br>
		<div>
			<br>
			<iframe src="experimentComparisonGraph.html">
			</iframe>
			<br>
			<br>
		</div>
	</body>	
</html>