
html {
	background-color: #aaa;
}
body{
	padding: 1%;
	background-color: #fff;
	width: 96%;
	margin: 0 auto;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
	color: #39F;
	text-transform: uppercase;
}
.half{
	display:inline-block;
	width: 47.5%;
	vertical-align: top;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
	overflow: hidden;
	margin: 1%;
	height: 450px;
}
@media (max-width:900px){
	.half{
		width: 97%;
		vertical-align: top;
		box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
		overflow: hidden;
		margin: 1%;
		height: 450px;
	}	
}