
<pre>

<h2>Learn from examples</h2>

<a href="/api/experiment">api/experiment</a>

<a href="/api/profile?ddbs=DDB_G0273069%2CDDB_G0279387%2CDDB_G0284861&species=D.%20purpureum">api/profile?ddbs=DDB_G0273069,DDB_G0279387,DDB_G0284861&species=D. purpureum</a>

<a href="/api/comparison?ddb=DDB_G0273069">api/comparison?ddb=DDB_G0273069</a>

<a href="/api/allGenes">api/allGenes</a>

<a href="/api/wingy?ddbs=DDB_G0273069,DDB_G0279387,DDB_G0284861,DDB_G0285597,DDB_G0289025&type=dd_pre_pre">api/wingy?ddbs=DDB_G0273069,DDB_G0279387,DDB_G0284861,DDB_G0285597,DDB_G0289025&type=dd_pre_pre</a> (from biolab)

</pre>