{% load staticfiles %}<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Experiment comparison</title>

		<script type="text/javascript" src="{% static "dicty/libs/jquery-1.9.1.min.js" %}"></script>
		<script src="{% static "dicty/libs/highcharts.js" %}" ></script>
		<script src="{% static "dicty/libs/exporting.js" %}"></script>
		<script src="{% static "dicty/experimentComparisonGraph.js" %}"></script>
	</head>
	<body>
		<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
	</body>
</html>
